@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

html {
scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-family: 'Jost', sans-serif;
    position: relative;
}

/*HEADER*/

header {
   position: fixed; 
   top: 0;
   width: 100%;
}

.header-wrapper {
    height: 100vh;
    background-color:#4A1942;
    background-size: 400% 400%;
    padding: 5.6rem;
    position: relative;
    
}

.background-wrapper  {
    height: 75vh;
    background-color: transparent;
    background-image: url(./assets/img/ilustracao_nathalya.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: 50%;
    margin-top: -32%;
    padding: 0 16rem 0 16rem;
    position: relative;
    animation: backgroundTransition 4s ease-in-out infinite;
}


h1 {
    font-size: 40px;
    margin-bottom: 0;
    letter-spacing: 4px;
    
}

h2 {
    letter-spacing: 6px;
}

.social-media-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 7rem;
    padding-top: 1rem;
}

.social-media {
    margin-top: 1rem;
    display: flex;
}

.social-media a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
    padding: 1rem 4rem;
    border: 1px solid #ffffff;
    box-shadow:  2px 9px 14px 0px rgba(13, 14, 14, 0.504);
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5 cubic-bezier(0.55, 0.025, 0.675, 0.97);
}

.social-media a:hover {
    color: #2E1C2B;
    background-color: #ffffff;
}

@keyframes backgroundTransition {
    0% {
        background-position: 70% 90%;
    }
    50% {
        background-position: 90% 100%;
    }
    100% {
        background-position: 70% 90%;
    }
}


/* MENU */

.menu {
    width: 100%;
    margin: auto;
    margin-bottom: 10%;
}

.menu-items {
    margin: auto;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 2rem;
}

.menu-items ul {
    list-style-type: none;
    padding: 0;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1.5rem;
    background-image: url('./assets/img/logo.png');
}

.card-about, .card-skills, .card-projects,.card-surprise {
    height: 720px;
    margin-top: 0;
    border: 1px solid black;
}

.nav-links {
    background-color: #947de7;
}

.menu-items ul li a {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 25px;
    font-weight: bold;
}

/* CARDS */

.container section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem  0;
}

.card-container {
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     width: 90%;
}

.card {
    height: 300px;
    width: 400px;
    margin: 3rem 0 0 0;
    background-image: url('./assets/img/vaporwave.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0.5);
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

.card-text {
    width: 40%;
    font-size: 18px;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
    margin-top: 3rem;
}
.card-text:hover {
    transform: scale(1.1);
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before {
    content:  '';
    position: absolute;
    height: 100px;
    width: 100px;
    display: block; 
    border: 1px  solid #ffffff;
    opacity: 0; 
    transition: 0.3;
}

.card-wrapper h2{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.3 ease-in-out;
}

.card-wrapper p {
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3 ease-in-out;
    
}

.card:hover {
    filter: unset;
}

.card:hover > .card-wrapper::before {
    opacity: 1;
    width: 350px;
    height: 250px;
}

.card:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 15px;
}

.skills {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.skills .skills-container {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    line-height: 5px;
    margin: 0.8rem;
    transition: transform .35s;
    align-items: center;
    flex-direction: row;
}

.skills .skills-container:hover {
    color: #7a176a;
    border: 1px solid #7a176a;
    padding: 16px 32px 16px 32px;
    background-color: #ffffff;
    transform: scale(1.1);
	padding: .4rem;
}

.skills img{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
}

.projects {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.projects .projects-container a {
    text-decoration: none;
    color: #000000;
    background-color: transparent;
    margin: auto;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.projects .projects-container {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    line-height: 7px;
    margin-top: 1rem;
    transition: transform .35s;
    align-items: center;
    flex-direction: column;
}
.projects img{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
}

.modal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.modal-wrapper a {
    text-decoration: none;
    color: rgb(116 41 104);
    font-size: 17px;
    padding: 0.7rem 1.4rem;
    border: 1px solid #7a176a;
    box-shadow: 2px 9px 14px 0px rgb(13 14 14 / 50%);
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5 cubic-bezier(0.55, 0.025, 0.675, 0.97);

}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.313);
}

dialog {
    width: 80%;
    height: 100vh;
    background-color: #ffffff;
    background-size: 400% 400%;
    padding: 2rem 5rem 2rem 5rem;
    position: relative;
    border-radius: 2rem;
    border: 1rem solid #947de7;
    
}

dialog .close{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

dialog .close a{
    text-decoration: none;
    min-width: 4rem;
    color: rgb(116 41 104);
    font-size: 40px;
    padding: 0.7rem 1.4rem;
    
}

.tooltip{
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 92px;
    background-color: #4a19420f;
    color: #947de7;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position */
    position: absolute;
    z-index: 1;
    top: 1px;
    left: 97%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
  }


/* FOOTER*/
.footer {
    position: absolute;
    padding:  .4rem;
    width: 100%;
    background-color: #4A1942;
    margin-top: 3rem;
    
}

.footer .footer-wrapper {
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    
}

.footer .footer-wrapper .separete {
    padding: 0 .7rem 0 ;
}

/* Responsive */

@media screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
        margin-top: 203px;
        letter-spacing: 4px;
        text-align: center;
    }

    h2 {
        letter-spacing: 4px;
        font-size: 13px;
    }

    .border {
        padding: 2rem;
        margin-top: 20%;
    }

    .header-wrapper {
        height: 100vh;
        background-color:#4A1942;
        padding: 2rem 1rem;
        position: relative;
        min-width: 320px;
        max-width: 576px;
        
    }
    
    .background-wrapper  {
	height: 15vh;
	width: 43%;
	background-color: transparent;
	background-image: url(./assets/img/ilustracao_nathalya.png);
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	position: relative;
	transform: scale(2.2);
	padding: 0;
	margin: auto;
	margin-top: -393px;
	animation: none;
    }

    .social-media-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: .3rem;
    }
    
    .social-media a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 24px;
        padding: .7rem 1.4rem;
        border: 1px solid #ffffff;
        box-shadow:  2px 9px 14px 0px rgba(13, 14, 14, 0.504);
        min-width: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .5 cubic-bezier(0.55, 0.025, 0.675, 0.97);
    }

    /* MENU */

    .menu {
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .menu-items {
        margin: auto;
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 1rem;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .nav-branding {
        background-repeat: no-repeat;
        background-size: contain;
        padding: 1rem;
        background-image: url('./assets/img/logo.png');
    }

    .card-about, .card-skills, .card-projects,.card-surprise {
        height: 720px;
        margin-top: 0;
    }

    .nav-links {
        background-color: #947de7;
    }

    .menu-items ul li a {
        color: #ffffff;
        background-color: transparent;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 11px;
        font-weight: bold;
    }
    .container section{
        width: 96%;
        height: auto;
        display: flex;
        align-content: space-between;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 2rem 0rem 0rem .5rem
    }
    
    .card-container {
        display: grid;
	grid-template-columns: 21rem;
	justify-content: center;
	width: 100%;
	align-items: center;
	justify-items: center;
    }
    
    .card {
        height: 200px;
        width: 320px;
        margin: 3rem 0 0 0;
        background-image: url(./assets/img/vaporwave.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: grayscale(0.5);
        color: #ffffff;
        cursor: pointer;
        transition: 0.3s
    }
    
    .card-text {
        align-content: space-between;
        width: 90%;
        font-size: 18px;
        font-family: sans-serif;
        letter-spacing: 1px;
        color: rgb(109, 109, 109);
        margin: auto;
        margin-top: 3rem;
    }
    
    .card-wrapper {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .card-wrapper::before {
        content:  '';
        position: absolute;
        height: 100px;
        width: 100px;
        display: block; 
        border: 1px  solid #ffffff;
        opacity: 0; 
        transition: 0.3;
    }
    
    .card-wrapper h2{
        font-size: 2.3rem;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin: 0;
        transition: 0.3 ease-in-out;
    }
    
    .card-wrapper p {
        font-size: 0;
        visibility: hidden;
        opacity: 0;
        font-weight: bold;
        text-transform: uppercase;
        transition: 0.3 ease-in-out;
        
    }
    
    .card:hover {
        filter: unset;
    }
    
    .card:hover > .card-wrapper::before {
        opacity: 1;
        width: 350px;
        height: 250px;
    }
    
    .card:hover > .card-wrapper p {
        opacity: 1;
        visibility: visible;
        font-size: 15px;
    }
    
    .skills .skills-container {
        display: flex;
        font-size: 18px;
        font-weight: bold;
        line-height: 7px;
        margin-top: 1rem;
        transition: transform .35s;
        align-items: center;
        flex-direction: column;
    }
    
    .skills .skills-container:hover {
        color: #7a176a;
        border: 0;
        background-color: #ffffff;
        transform: scale(1);
    }
    
    .skills img{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 90%;
        
    }
	
    dialog {
        width: 90%;
        height: 100vh;
        background-color: #ffffff;
        background-size: 400% 400%;
        padding: 0.4rem 1.3rem 0.7rem 1.3rem;
        position: relative;
        border-radius: 2rem;
        border: 1rem solid #947de7;
    }
	
     dialog .close a {
    	text-decoration: none;
    	min-width: 4rem;
    	color: rgb(116 41 104);
    	font-size: 40px;
    	padding-left: 1.6rem;
    	margin-right: 0rem;
	}

    .tooltip{
        position: relative;
        display: inline-block;
    }
    
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 72px;
        background-color: #4a19420f;
        color: #947de7;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
    
        /* Position */
        position: absolute;
        z-index: 1;
    	top: 1px;
    	left: 59%;

    }
    
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

    .projects {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        align-items: center;
    }

    .projects .projects-container {
        display: flex;
        font-size: 15px;
        font-weight: bold;
        line-height: 7px;
        margin-top: .1rem;
        transition: transform .35s;
        align-items: center;
        flex-direction: column;
    }
    
    .projects .projects-container:hover {
        color: #7a176a;
        border: 0;
        background-color: #ffffff;
        transform: scale(1);
    }
    
    .projects img{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
    }
    
    /* FOOTER*/
    .footer {
        position: absolute;
        padding: 0.1rem;
        width: 100%;
        background-color: #4A1942;
        margin-top: 4rem;
        
    }
    
    .footer .footer-wrapper {
        letter-spacing: 0px;
        font-size: 11px;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        margin: 0px .7rem 0rem .9rem;
    }
    
    .footer .footer-wrapper .separete {
        padding: 0 1.9rem 0 1rem;
    }
}


